<h2> Daily recorded totals for <%= @emoji %> vs 🍆</h2>

  <!-- Move this out of here -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <canvas id="myChart" width="400" height="250"></canvas>
  <script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [ "Past 72 hours", "Past 48 hours", "Past 24 hours"],
        datasets: [{
            label: "<%= @emoji %>",
            data: [ <%= @day_two %>, <%= @day_one %>, <%= @day_zero %> ],

            borderColor: 'rgba(75, 192, 192, 1)',
            backgroundColor: 'rgba(75, 192, 192, .3)',
            borderWidth: 1,
            pointRadius: 5
        }
        ,{
          label: '🍆',

          data: [ <%= @egg_day_two %>, <%= @egg_day_one %>, <%= @egg_day_zero %>],

          borderColor: 'rgba(54, 4, 150, 1)',
          backgroundColor: 'rgba(54, 4, 150, .3)',
          borderWidth: 1,
          pointRadius: 5

        }

      ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
  });


  </script>
