<!--div class="chart-head">
  <h2> <span class="header-text"><%= @emoji %> (daily totals)</span></h2>

</div-->

<div class="row">


  <% if emoji_exists(@emoji) %>
    <div class="comp-chart col-lg-6">

      <% data = {
        labels: ["Past 72 hours", "Past 48 hours", "Past 24 hours"],
        datasets: [
          {
              label: @emoji,
              #backgroundColor: "rgba(151,187,205,0.2)",
              #borderColor: "rgba(151,187,205,1)",
              backgroundColor: "rgba(61, 162, 104,0.2)",
              borderColor: "rgba(61, 162, 104,1)",
              data: [@day_two , @day_one , @day_zero]
          }
        ]
      }
      options = { begin_at_zero: "true", width: "800" } %>
      <%= line_chart data, options %>

    </div>

    <div class="stats col-lg-4">
      <h2><%= @emoji %> <%= find_name(@emoji) %> <%= " Emoji" %></h2>
      <p>Usage has been <b><%= trend_word(@trend) %></b> since <%= hour_ago %> </p>

      <h5>Recent</h5>
      <p><%= @first %></p>
      <p><%= @second %></p>
      <p><%= @third %></p>


    </div>

  <% else %>
    <div class="error">
    <h1> Sorry pimpin. No <%= @emoji %> here.</h1>
    <h3> Holler at <a href="https://twitter.com/spenax">@spenax</a> on twitter if you think he should add the newest emoji in </h3>
    </div>
  <% end %>


</div>

<div class="bottom-nav">
<%= link_to "Return home", controller: "messages" %>
</div>
