<h2> Daily totals for <%= @emoji %> </h2>

  <!-- Move this out of here -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <canvas id="myChart" width="400" height="250"></canvas>
  <script>
  var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
          label: '# of Occurances',
          data: [<%= @sun %>, <%= @mon %>, <%= @tues %>, <%= @wed %>, <%= @thur %>, <%= @fri %>, <%= @sat %>],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 20, 132, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(255, 20, 132, 1)'
          ],
          borderWidth: 1
      }]
  },
  options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero:true
              }
          }]
      }
  }
});


  </script>



<br>
<Br>

  <table style="color: #e0e0e0;">
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <tr>
      <td>
        <%= @sun %>
      </td>
      <td>
        <%= @mon %>
      </td>
      <td>
        <%= @tues %>
      </td>
      <td>
        <%= @wed %>
      </td>
      <td>
        <%= @thur %>
      </td>
      <td>
        <%= @fri %>
      </td>
      <td>
        <%= @sat %>
      </td>

    </tr>
  <table>
