<h2> Weekly totals for <%= @emoji %> </h2>
<table>
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <td>
      <%= @sun %>
    </td>
    <td>
      <%= @mon %>
    </td>
    <td>
      <%= @tues %>
    </td>
    <td>
      <%= @wed %>
    </td>
    <td>
      <%= @thur %>
    </td>
    <td>
      <%= @fri %>
    </td>
    <td>
      <%= @sat %>
    </td>

  </tr>
<table>
