<!DOCTYPE html>
<html>
  <head>
    <title>SendFoods</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %>
    <% end %>>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "ðŸ“¥ SendFoods ðŸ†", {controller: "messages", action: "index"}, class: "navbar-brand" %>
    </nav>

    <div id="<%= controller_name + "_" + action_name %>" class="wrapper">
      <%= yield %>
    </div>
  </body>


</html>
